body
    background-color #f0e6da
    font-size 15px

.text-color
    color #425178

.text-form
    font-family 'byombold'
    font-weight 600


@font-face {
    font-family: 'bariolbold';
    src: url('../fonts/bariol_bold-webfont.woff2') format('woff2'),
         url('../fonts/bariol_bold-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'byombold';
    src: url('../fonts/byom-bold-trial-webfont.woff2') format('woff2'),
         url('../fonts/byom-bold-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'byomlight';
    src: url('../fonts/byom-light-trial-webfont.woff2') format('woff2'),
         url('../fonts/byom-light-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

@font-face {
    font-family: 'byomregular';
    src: url('../fonts/byom-regular-trial-webfont.woff2') format('woff2'),
         url('../fonts/byom-regular-trial-webfont.woff') format('woff');
    font-weight: normal;
    font-style: normal;

}

.GuiaContainer
    height 100%
    & h1
        color #ee2529
        font-family 'byomregular'
    & p
        font-family 'byomregular';
    & .form-control
        color #827f7a
        background-color transparent
        border 1px solid #ee2529
        border-radius 0rem
        font-family 'Open Sans', sans-serif
        &.form-control:focus
            box-shadow none
        & input
            font-family 'Open Sans', sans-serif

.btn-primary
    background-color #ee2529
    border-color #ee2529
    border-radius 0rem
    font-family 'byombold'
    font-size 18px
    font-weight 700

.btn-primary:hover
    background-color #ee2529
    border-color #ee2529

.btn-primary:not(:disabled):not(.disabled):active
    background-color #ee2529
    border-color #ee2529

.btn-primary:focus
    background-color #ee2529
    border-color #ee2529
    box-shadow none